.mb-map {
  height: 100%;
  width: 100%;
  flex: 1;
}
.mb-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.mb-full-screen {
  top: 0.5em;
  right: 0.5em;
}
