.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0%;
  margin: 0%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    flex-direction: column;
  }
}
